 {% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootclass="table table-dark"strap/4.4.1/js/bootstrap.min.js"></script>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <fieldset>
    <legend>Add Resource</legend>
    <table class="table table-light">
    
    <tr>
    <th>{{form.name.label}}</th>
    <td>{{form.name(size=32,autofocus=True)}}</td>
    <td>{% for error in form.name.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %}  </td>
    </tr>  
    
    <tr>
    <th>{{form.capacity.label}}</th>
    <td>{{form.capacity(size=32)}}</td>
    <td>{% for error in form.capacity.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %} </td>
    </tr>
    
    <tr>
    <th>{{form.rent.label}}</th>
    <td>{{form.rent(size=32)}}</td>
   <td> {% for error in form.rent.errors %}
        <span style="color:red;">{{error}}</span>
    {% endfor %} </td>
    </tr>
    
    <tr>
    <th>{{form.status.label}}</th>
    <td>{{form.status}}</td>
   <td> {% for error in form.status.errors %}
    <td>   <span style="color:red;">{{error}}</span>
    {% endfor %} </td>
    </tr>

    <tr>
        <th>{{form.typeofuse.label}}</th>
        <td>{{form.typeofuse(size=32)}}</td>
        {% for error in form.typeofuse.errors %}
    <td>   <span style="color:red;">{{error}}</span>
        {% endfor %} </td>
    </tr>
    <tr><td></td>
        <td>{{form.submit()}}</td>
    </tr>
    <tr><td></td>
        <td><a href="{{url_for('menu')}}">Back to Menu..</td> 
</tr>
</table>

    </fieldset>
   
  </form>
{% endblock %}   
