<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='/static/css/login.css'>
        <title>
        {% if title%}
        {{title}}
        {%else%}
        Welcome to FlaskTest
        {% endif %}
        </title>
      </head>
        <body>
         {% with messages=get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
            </body>
            </html>