{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
<div id="header"><p id="nm">Batch Details<p>
</div>
<fieldset>

        <table class="table table-classic">
    <tr>
        <th>Batch Id</th>
        <th>Batch Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Course Id</th>
        <th>Status</th>
   </tr>
   {% for batch in batchs %}
        <tr>
            <td>{{batch._id}}</td>
            <td>{{batch.b_name}}</td>
            <td>{{batch.start_date}}</td>
            <td>{{batch.end_date}}</td>
            <td>{{batch.c_id}}</td>
            <td>{{batch.b_status}}</td>
        </tr>
    {% endfor %}
</table>
</fieldset>
<p><a href="{{url_for('menu')}}">Back to menu</a></p>
{% endblock %}
