<style>
       body{
            background-color:#ff900073;
            width:40;
            margin-left:auto;
            margin-right:auto;
            background-image:url("/static/images/bank1.png");
            size: cover;
            }
        fieldset{
            width:fit-content;
            margin-left:auto;
            margin-right:auto;
        }
        </style>